#*.md
*.keystore
*.pro
*.properties
*.bat
.gradle
/build
*/.idea

.DS_Store
*.iml
*.md
/captures
.externalNativeBuild

src/main/res_ui/values-night/wjzx_ui_config.xml
src/main/res_ui/values/wjzx_ui_config.xml
